.card {
  height: 184px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(186, 191, 193, 0.66);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    color: #2196F3;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 600;
  }

  &__details {
    display: flex;
    margin-top: 20px;
  }

  &__column {
    flex-basis: 35%;
  }
}

.column {
  &__info {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__field {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #A0B0B9;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__value {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #4A4A4A;
    letter-spacing: 0;

    &--uppercase {
      text-transform: uppercase;
    }
  }
}
