.list {
  margin-top: 20px;

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__message {
    margin: 20px 0 0 10px;
    color: #4a4a4a;
  }

  &__show-tickets {
    margin: 20px 0 50px 0;
  }

  &__spinner {
    margin: 50px auto;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
}

.show-tickets {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #2196f3;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: white;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
    cursor: pointer;
  }
}
